@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jersey+15&display=swap');

:root {
    --davys-gray: #565857;
    --ivory: #FFFCE8;
    --old-gold: #B8B42D;
    --federal-blue: #07004D;
    --forest-green: #1B2A21;
}

.host-grotesk {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 60%;
    display: block;
    margin: 0 auto;
}

header {
    background-color: var(--old-gold);
    padding: 20px;
}

h1 {
    color: var(--forest-green);
    font-size: 36pt;
    user-select: none;
}

#inputForm {
    text-align: center;
    margin: 20px;
}

#inputPolje {
    font-size: 12pt;
    width: 350px;
    padding: 7px 16px;
    border-radius: 50px;
    border: 2px solid var(--davys-gray);
}

#inputSlanje {
    padding: 7px 32px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 12pt;
    background-color: var(--forest-green);
    color: var(--ivory);
    transition: 150ms ease-in-out;
    font-weight: 600;
}

#inputSlanje:hover {
    border: 2px solid var(--davys-gray);
    background-color: var(--old-gold);
    color: var(--forest-green);
}

#itemi {
    width: 60%;
    padding: 20px;
    /*border: 2px solid var(--davys-gray);*/
    border-radius: 50px;
    display: block;
    margin: 10px auto;
}