@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jersey+15&display=swap');

:root {
    --davys-gray: #565857;
    --ivory: #FFFCE8;
    --old-gold: #B8B42D;
    --federal-blue: #07004D;
    --forest-green: #1B2A21;
}

.host-grotesk {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 150ms ease-in-out;
}

#main {
    width: 60%;
    display: block;
    margin: 0 auto;
}

header {
    background-color: var(--old-gold);
    padding: 20px;
}

h1 {
    color: var(--forest-green);
    font-size: 36pt;
    user-select: none;
}

#inputForm {
    text-align: center;
    margin: 20px;
}

#inputPolje {
    font-size: 12pt;
    width: 350px;
    padding: 7px 16px;
    border-radius: 50px;
    border: 2px solid var(--davys-gray);
}

#inputSlanje {
    padding: 7px 32px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 12pt;
    background-color: var(--forest-green);
    color: var(--ivory);
    font-weight: 600;
}

#inputSlanje:hover {
    border: 2px solid var(--davys-gray);
    background-color: var(--old-gold);
    color: var(--forest-green);
}

#inputSlanje:active {
    transition: 50ms linear;
    background-color: yellow;
}

#itemi {
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    display: block;
    margin: 10px auto;
    list-style: none;
}

#itemi li {
    & span {
        display: flex;
        align-items: center;
    }
    border: 1px solid var(--davys-gray);
    margin: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    margin: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--davys-gray);
    border-radius: none;
}

.deleteDugme {
    margin-right:5px;
    width: 32px;
    height: 32px;
    font-size: 16pt;
    border-radius: 50%;
    border: none;
    background-color: var(--old-gold);
    color: var(--forest-green);
    font-weight: bold;
}

.deleteDugme:hover {
    background-color: var(--forest-green);
    color: var(--ivory);
}

.deleteDugme:active {
    background-color: var(--davys-gray);
    transition: 50ms linear;
}

.checked {
    text-decoration: line-through;
}